@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 255, 0.8), -0.5px -0.5px 0px rgba(255, 0, 0, 0.8), 0px 0px 1px rgb(0, 0, 0);
  color: #d1ffff;
}

.btn {
  font-size: 1.8rem;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  font-weight: 400;
}

h2 {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(0, 0, 255), 0px 0px 2px rgb(0, 0, 0);
}

h3 {
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(0, 0, 255), 0px 0px 2px rgb(0, 0, 0);
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(0, 0, 255), 0px 0px 2px rgb(0, 0, 0);
}

p {
  font-size: 2rem;
}

dl {
  font-size: 2rem;
}

.frame_descr {
  font-size: 2.4rem;
}
@media (min-width: 1800px) {
  .frame_descr {
    font-size: 2.2rem;
  }
}

.container_conductor {
  color: #ffd766;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}
.container_skills_status :nth-child(n+7):nth-child(-n+11) {
  font-size: 1.3rem;
}
.container_skills_status :nth-child(n+12):nth-child(-n+15) {
  font-size: 0.8rem;
}
@media (min-width: 1800px) {
  .container_skills_status {
    font-size: 1.3rem;
  }
}

.statuses_state-title {
  font-weight: 400;
  font-size: 2.8rem;
}

.description {
  font-size: 2rem;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}
@media (min-width: 1800px) {
  .description {
    font-size: 2.1rem;
  }
}

span {
  font-weight: 600;
  -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
}

.resume > span {
  color: #d1ffff;
  font-size: 2rem;
}

@-webkit-keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}

@keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@-webkit-keyframes inclusion {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes inclusion {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes visiible {
  0% {
    -webkit-transform: translateZ(-4rem);
            transform: translateZ(-4rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes visiible {
  0% {
    -webkit-transform: translateZ(-4rem);
            transform: translateZ(-4rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
            clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #0f7440 108deg, #34b573 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #0f7440 252deg, #34b573 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #0f7440 36deg, #34b573 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #0f7440 180deg, #34b573 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
}
@keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
            clip-path: polygon(49.8% 52%, 52.95% 49%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 47% 49.8%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 48.9% 41.5%, 47% 41.5%, 46% 44.55%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #0f7440 108deg, #34b573 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.5%, 53.7% 51.25%, 55% 48%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #0f7440 252deg, #34b573 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 28% 12.95%, 44% 44%, 45% 48%, 46.1% 51%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #0f7440 36deg, #34b573 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 54% 45%, 53% 41.5%, 49.8% 40%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #0f7440 180deg, #34b573 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, #108c4c 30%, #34b573 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
            clip-path: polygon(49.8% 75.51%, 64% 65%, 91.2% 59%, 73.8% 38%, 67.68% 20.58%, 49.8% 21.25%, 29.2% 16.45%, 24.69% 37.8%, 10.73% 58.3%, 35.59% 66.24%);
    background: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
  }
}
@-webkit-keyframes openBorder {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes openBorder {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@-webkit-keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@-webkit-keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
.margin-bottom-5vh {
  margin-bottom: 5vh;
}

.margin-bottom-20rem {
  margin-bottom: 2rem;
}

.txt__orange {
  color: #e8be45;
}

.inclusion {
  -webkit-animation: inclusion 1s ease both;
          animation: inclusion 1s ease both;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
}
@media (min-width: 1800px) {
  html {
    font-size: 67%;
  }
}

body {
  background: black;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  -webkit-mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
          mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
  background: radial-gradient(rgba(197, 233, 247, 0.2235294118) 0.1rem, transparent 0) -1.9rem -1.9rem/1rem 1rem;
}

a:link, a:visited {
  text-decoration: none;
}

@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Square;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/square_721_bold_extended_bt.woff") format("woff");
}
.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  height: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  padding: 0 1.2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.btn:link, .btn:visited {
  color: #d1ffff;
}
.btn::after, .btn::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 12rem;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.btn::after {
  border: 1px solid #d1ffff;
  -webkit-clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
          clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
  -webkit-transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease, -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
}
.btn:hover::after {
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
  -webkit-clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
          clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
  border: 1px solid #d1ffff;
}
.btn::before {
  background: rgba(70, 151, 180, 0.5490196078);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
}
.btn:active::before {
  background: rgba(255, 169, 20, 0.6);
}
.btn:active::after {
  border: 1px solid #ffaf54;
}
.btn:active {
  color: #e8be45;
}

.article {
  position: relative;
  display: grid;
  grid-template: 12% 76% 12%/100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  height: 100%;
  aspect-ratio: 0.9/1;
}

.title {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 1px #d1ffff;
}

.title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100%;
}

.description {
  position: relative;
  height: 100%;
}

.description-text {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  overflow-y: scroll;
}
.description-text p {
  font-size: 1.9rem;
  padding: 1rem 2rem;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.article_resume {
  position: relative;
  display: grid;
  place-items: center;
  grid-template: auto/repeat(2, auto);
  height: 100%;
  width: 100%;
  left: 0;
  top: -0.5rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
.article_resume:link, .article_resume:visited {
  color: #d1ffff;
}
.article_resume > * {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease, -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  will-change: transform, filter;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.article_resume > *:hover {
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem);
}
.article_resume span {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: inline-block;
  text-align: center;
  width: 100%;
  top: 60%;
}

.article_bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

.slider {
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -webkit-animation: inclusion 1s ease 0.3s both;
          animation: inclusion 1s ease 0.3s both;
}
.slider > * {
  position: absolute;
  visibility: hidden;
  will-change: transform, scale, display;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  aspect-ratio: 16/9;
  width: 100%;
  right: 0;
  top: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotateY(-10deg) translateY(-50%);
          transform: rotateY(-10deg) translateY(-50%);
  -webkit-animation: scrollFrame 27s infinite ease;
          animation: scrollFrame 27s infinite ease;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
.slider > * > * {
  -webkit-filter: drop-shadow(0 0 1rem black);
          filter: drop-shadow(0 0 1rem black);
  opacity: 0;
  -webkit-animation: opacityFrame 27s infinite ease;
          animation: opacityFrame 27s infinite ease;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}
.slider .frame_1 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_1 > * {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_2 > * {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_4 > * {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_5 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_5 > * {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_6 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_6 > * {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_7 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_7 > * {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_8 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_8 > * {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_9 {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.slider .frame_9 > * {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.border {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: block;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: #d1ffff;
  stroke-width: 1px;
}
.border_title {
  height: 102%;
  width: 102%;
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
  fill: rgba(70, 151, 180, 0.5490196078);
}
.border_description :first-child {
  fill: rgba(28, 60, 72, 0.6);
  stroke-dasharray: 2;
}
.border_description :last-child {
  stroke: none;
}
.border_resume {
  height: 100%;
  width: 105%;
  left: 52%;
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
  fill: rgba(70, 151, 180, 0.5490196078);
}
.border_resume_R {
  left: 47%;
}
.border_img.bg {
  fill: rgba(70, 151, 180, 0.5490196078);
  -webkit-transform: translateZ(-4rem);
          transform: translateZ(-4rem);
}
.border_img.bg :last-child {
  stroke: none;
  fill: rgba(28, 60, 72, 0.6);
}
.border_ability {
  stroke: #e8be45;
}
.border_ability :first-child {
  fill: rgba(255, 169, 20, 0.15);
}
.border_ability :last-child {
  fill: rgba(255, 169, 20, 0.6);
  -webkit-filter: drop-shadow(0 0 4px #e8be45);
          filter: drop-shadow(0 0 4px #e8be45);
}
.border_software {
  stroke: #e8be45;
}
.border_software_description {
  stroke: #e8be45;
  fill: rgba(255, 169, 20, 0.1);
}
.border_software :nth-child(n+1):nth-child(-n+2) {
  fill: rgba(255, 169, 20, 0.6);
  -webkit-filter: drop-shadow(0 0 4px #e8be45);
          filter: drop-shadow(0 0 4px #e8be45);
}
.border_software :last-child {
  fill: rgba(255, 169, 20, 0.1);
}
.border_footer {
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.border_footer :first-child {
  fill: rgba(255, 169, 20, 0.6);
}
.border_footer :last-child {
  fill: #e8be45;
}

.bg {
  -webkit-transform: translateZ(-1rem);
          transform: translateZ(-1rem);
  -webkit-filter: blur(0.12rem);
          filter: blur(0.12rem);
  z-index: -1;
}

.logo {
  position: relative;
  height: 3.6rem;
  width: 3.6rem;
  cursor: pointer;
}
.logo_img {
  height: 100%;
  width: 100%;
}
.logo_img:first-child {
  font-size: 10rem;
  stroke: white;
  stroke-width: 1.5px;
  fill: #d1ffff;
  dominant-baseline: hanging;
  text-anchor: middle;
}

.emblem {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: #d1ffff;
  stroke-width: 35px;
}

.emblem_test {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  position: absolute;
  height: 100%;
  width: 100%;
  fill: none;
  stroke: #d1ffff;
  stroke-width: 0.5;
}
.emblem_test circle {
  stroke: none;
}

#circle-test {
  -webkit-transition: cy 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  transition: cy 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

#Butt:hover ~ #circle-test {
  cy: 160px;
  -webkit-transition: cy 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  transition: cy 0.3s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.rectangle {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 90%, 50% 90%, 50% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 90%, 50% 90%, 50% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 0.3s cubic-bezier(0.5, 0, 1, 0.5);
  transition: -webkit-clip-path 0.3s cubic-bezier(0.5, 0, 1, 0.5);
  transition: clip-path 0.3s cubic-bezier(0.5, 0, 1, 0.5);
  transition: clip-path 0.3s cubic-bezier(0.5, 0, 1, 0.5), -webkit-clip-path 0.3s cubic-bezier(0.5, 0, 1, 0.5);
}

#Butt:hover ~ .rectangle {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 69.9% 100%, 69.9% 90%, 30.1% 90%, 30.1% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 69.9% 100%, 69.9% 90%, 30.1% 90%, 30.1% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transition: -webkit-clip-path 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transition: clip-path 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transition: clip-path 0.3s cubic-bezier(0, 0.5, 0.5, 1), -webkit-clip-path 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

.crc {
  fill: none;
}

#losta #pnta {
  fill: radial-gradient(at 50% 45.8%, transparent 0%, rgba(15, 116, 64, 0.4078431373) 30%, #0f7440 50%), conic-gradient(from 0.5turn at 50% 45.8%, transparent 0deg 36deg, #033119 36deg, #0f7440 72deg, transparent 72deg 108deg, #033119 108deg, #0f7440 144deg, transparent 144deg 180deg, #033119 180deg, #0f7440 216deg, transparent 216deg 252deg, #033119 252deg, #0f7440 288deg, transparent 288deg 324deg, #033119 324deg, #0f7440 360deg);
}
#losta .deg {
  stroke: none;
}

.icon {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease, -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  -webkit-animation: inclusion 0.8s ease backwards, movingZ 0.5s ease 0.8s backwards;
          animation: inclusion 0.8s ease backwards, movingZ 0.5s ease 0.8s backwards;
}
.icon > *, .icon .icon_figure {
  aspect-ratio: 1/1;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.icon_bg {
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.icon button {
  text-decoration: none;
  color: #e8be45;
  text-shadow: unset;
  background: none;
  cursor: pointer;
  border: none;
  font: unset;
}
.icon a {
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
}
.icon a:link, .icon a:visited {
  color: #e8be45;
}
.icon .icon_figure {
  stroke: #e8be45;
  stroke-width: 0.8px;
  fill: none;
}
.icon span {
  position: absolute;
  left: 8%;
  top: 8%;
}

.icon_button {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease;
  transition: transform 0.2s ease, filter 0.2s ease, -webkit-transform 0.2s ease, -webkit-filter 0.2s ease;
  text-decoration: none;
  color: #e8be45;
  text-shadow: unset;
  background: none;
  cursor: pointer;
  border: none;
  font: unset;
}
.icon_button > *, .icon_button .icon_figure {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  aspect-ratio: 1/1;
  width: 100%;
}
.icon_button_bg {
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.icon_button span {
  text-align: left;
  left: 64%;
  top: 60%;
}

.icon_figure {
  stroke: #e8be45;
  stroke-width: 0.8px;
  fill: none;
}

.navigation {
  position: sticky;
  left: 0;
  top: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  padding: 1.5rem;
  z-index: 20;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: grid;
  grid-template: auto/repeat(3, 12rem);
  grid-column-gap: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center center;
  border-bottom: 1px solid #d1ffff;
}

.main {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 80vh;
  padding: 5vh 5vw;
  display: grid;
  grid-template: 100%/repeat(3, auto);
  grid-column-gap: 10vw;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease, -webkit-transform 0.7s ease;
}

.container {
  position: relative;
  width: 90vw;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  scroll-margin: 15vh 5vw 0 5vw;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.container_about {
  display: grid;
  grid-template: 100%/40% 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
.container_about .article .title {
  top: 0.5rem;
}
.container_about .article .title .title_text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container_home {
  position: relative;
  height: 80vh;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.container_home .planet {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  stroke: none;
  height: 150vh;
  width: 150vw;
}
.container_home .planet text {
  font-family: "Square";
  font-size: 1rem;
  text-align: center;
  text-anchor: middle;
  text-shadow: none;
}

@-webkit-keyframes shift {
  100% {
    stroke-dashoffset: -20;
  }
}

@keyframes shift {
  100% {
    stroke-dashoffset: -20;
  }
}
.container_abilities {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}
.container_abilities_conductor {
  position: relative;
  display: grid;
  grid-template: 10% 75% 15%/65% 34%;
  place-content: center;
  place-items: center;
  height: 100%;
  aspect-ratio: 7/4;
}
.container_abilities_conductor .conductor_title {
  position: relative;
  display: block;
  height: 92%;
  top: unset;
  grid-area: 1/1/2/2;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(13%, #000), color-stop(87%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, transparent, #000 13%, #000 87%, transparent 100%);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(13%, #000), color-stop(87%, #000), to(transparent));
          mask-image: linear-gradient(to bottom, transparent, #000 13%, #000 87%, transparent 100%);
  overflow: hidden;
}
.container_abilities_conductor .conductor_title .title_text {
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container_abilities_conductor .conductor_title .title_text h2 {
  height: 100%;
}
.container_abilities_conductor .conductor_content {
  grid-area: 2/1/4/2;
  height: 94%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  z-index: 1;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(13%, #000), color-stop(87%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(to left, transparent, #000 13%, #000 87%, transparent 100%);
          mask-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(13%, #000), color-stop(87%, #000), to(transparent));
          mask-image: linear-gradient(to left, transparent, #000 13%, #000 87%, transparent 100%);
  -webkit-transition: width 1s ease, opacity 1s ease, -webkit-transform 0.3s ease, -webkit-filter 0.5s ease;
  transition: width 1s ease, opacity 1s ease, -webkit-transform 0.3s ease, -webkit-filter 0.5s ease;
  transition: transform 0.3s ease, filter 0.5s ease, width 1s ease, opacity 1s ease;
  transition: transform 0.3s ease, filter 0.5s ease, width 1s ease, opacity 1s ease, -webkit-transform 0.3s ease, -webkit-filter 0.5s ease;
}
.container_abilities_conductor .conductor_content > * {
  position: relative;
  display: inline-block;
  scroll-snap-align: start;
  vertical-align: middle;
  width: 100%;
}
.container_abilities_conductor .conductor_content::-webkit-scrollbar {
  height: 2rem;
}
.container_abilities_conductor .conductor_content::-webkit-scrollbar-track {
  cursor: pointer;
  background: repeating-linear-gradient(to left, transparent, transparent 10px, rgba(255, 169, 20, 0.6) 10px, rgba(255, 169, 20, 0.6) 11px);
  border: 0.7rem solid transparent;
  background-clip: content-box;
}
.container_abilities_conductor .conductor_content::-webkit-scrollbar-thumb {
  cursor: pointer;
  height: 3rem;
  background: radial-gradient(closest-side circle at 50%, rgba(255, 169, 20, 0.6) 0%, #e8be45 99%, transparent 100%);
}
.container_abilities_conductor .conductor_content .content_skills {
  height: 80%;
  aspect-ratio: 7/5;
  shape-rendering: geometricprecision;
}
.container_abilities_conductor .conductor_content .content_skills .parametr {
  position: absolute;
  top: 49.5%;
  left: 50%;
  width: 67.5%;
  aspect-ratio: 935/889;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-clip-path 0.4s ease;
  transition: -webkit-clip-path 0.4s ease;
  transition: clip-path 0.4s ease;
  transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
  background: radial-gradient(at 50% 44.8%, transparent 0%, #e8be45 100%), conic-gradient(from 0.5turn at 50% 44.8%, transparent 0deg 36deg, #755e1b 36deg, #e8be45 72deg, transparent 72deg 108deg, #755e1b 108deg, #e8be45 144deg, transparent 144deg 180deg, #755e1b 180deg, #e8be45 216deg, transparent 216deg 252deg, #755e1b 252deg, #e8be45 288deg, transparent 288deg 324deg, #755e1b 324deg, #e8be45 360deg);
}
.container_abilities_conductor .conductor_content .content_skills > * {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(n+4):nth-child(-n+6) {
  opacity: 0.2 !important;
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(5) {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(6) {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(n+3):nth-child(-n+6) {
  vector-effect: non-scaling-stroke;
  stroke: #d1ffff;
  stroke-width: 1px;
  fill: none;
  opacity: 0.3;
  -webkit-transform-origin: 50% 47%;
          transform-origin: 50% 47%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(n+7):nth-child(-n+11) {
  cursor: pointer;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.container_abilities_conductor .conductor_content .content_skills :nth-child(n+7):nth-child(-n+15) {
  position: relative;
  vector-effect: non-scaling-stroke;
  border: 1px solid #d1ffff;
  -webkit-transform: scale(1.35) translate(-13%, -12%);
          transform: scale(1.35) translate(-13%, -12%);
  fill: #d1ffff;
  width: 71.14%;
}
.container_abilities_conductor .conductor_content .content_software {
  height: 100%;
}
.container_abilities_conductor .conductor_content .content_software .container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(3, auto)/repeat(4, 15%);
  place-content: center;
  place-items: center;
  gap: 4% 3%;
}
.container_abilities_conductor .conductor_description {
  position: relative;
  grid-area: 1/2/3/3;
  height: 90%;
  width: 97%;
  overflow: hidden;
  top: 3%;
  -webkit-mask-size: 100% 80%;
          mask-size: 100% 80%;
  -webkit-mask-position: left bottom;
          mask-position: left bottom;
}
.container_abilities_conductor .conductor_description .description_wrapper {
  white-space: nowrap;
  height: 100%;
  width: 200%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container_abilities_conductor .conductor_description .description_wrapper > * {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  place-content: center;
  place-items: center;
  width: 50%;
  height: 100%;
  white-space: normal;
  vertical-align: middle;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_skill {
  width: 100%;
  -webkit-filter: contrast();
          filter: contrast();
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_skill .description-text dl dt {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_skill .description-text dl dt::before {
  content: "🞂 ";
  height: 1em;
  width: 1em;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_skill .description-text dl dd {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  margin-bottom: 1em;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .border_software {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  top: 0.5rem;
  translate: -50% 0%;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software {
  position: relative;
  display: grid;
  grid-template: 2.95em max-content/100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title {
  text-align: start;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title > * {
  display: inline-block;
  vertical-align: middle;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title .icon_figure {
  -webkit-filter: drop-shadow(0 0 2px black);
          filter: drop-shadow(0 0 2px black);
  stroke: #ffd766;
  margin-inline: 6% 0%;
  stroke-width: 1.2px;
  height: 100%;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title .icon_figure #targ_icon {
  scale: 0.7;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title .icon_figure :first-child {
  fill: rgba(214, 136, 0, 0.6);
  stroke: none;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .title .title_text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .description-text {
  max-height: 18em;
}
.container_abilities_conductor .conductor_description .description_wrapper > * .wrapper_section_software .bottom {
  position: relative;
}

.hover_abil .container_skills:has(.parametr:hover, .container_skills_status > path:hover) {
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}
.hover_abil .container_software:has(.targ_soft:hover) {
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}

.contSkills {
  grid-template: 100%/70% 30%;
}
.contSkills .container_skills {
  width: 71.14%;
}
.contSkills .container_skills_status :nth-child(n+4):nth-child(-n+6) {
  opacity: 0.2 !important;
}
.contSkills .container_skills_status :nth-child(5) {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}
.contSkills .container_skills_status :nth-child(6) {
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
}
.contSkills .container_software {
  width: 100%;
  opacity: 0.5;
  -webkit-filter: blur(2px) drop-shadow(0 0 2rem white);
          filter: blur(2px) drop-shadow(0 0 2rem white);
}
.contSkills .container_software:has(.target_software:hover) {
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}
.contSkills .container_software svg:has(.target_software) {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  fill: rgba(100, 255, 255, 0.2);
  z-index: 3;
}
.contSkills .container_software .description {
  font-size: 1.19rem;
}

.contSoft {
  grid-template: 100%/30% 70%;
}
.contSoft .container_skills {
  width: 100%;
  opacity: 0.5;
  -webkit-filter: blur(2px) drop-shadow(0 0 2rem white);
          filter: blur(2px) drop-shadow(0 0 2rem white);
}
.contSoft .container_skills:has(.parametr:hover) {
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}
.contSoft .container_software {
  width: 71.14%;
}
.contSoft .container_software_penta .soft_circle-1:hover > mask > path {
  d: path("M61.277 139.627l14.4 0-1.6 13.6-5.6 2-5.6-2zm11.24 3.2-7.64 0 .4 3.6 6.16 0-.32 4.16-2.64.8-2.64-.8-.16-.96m14 7.6 14.4 0-1.6 13.6-5.6 2-5.6-2zm2.8 3.2 8 0-.8 7.6-2.8.96-2.8-.96-.16-1.44m6.16-2.56-5.84 0m.48-21.6-16 27.2");
}
.contSoft .container_software_penta .soft_circle-1:hover circle {
  cx: 77.27px;
  cy: 155.143px;
  r: 25px;
}
.contSoft .container_software_penta .soft_circle-1:hover ~ .penta {
  d: path("M144.256 286.517l96.488 0m26.186-19.018 29.857-91.796m-9.987-30.783-78.125-56.816m-32.685-.474-78.08 53.396m-12.222 37.654 31.832 89.005");
}
.contSoft .container_software_penta .soft_circle-2:hover > mask > path {
  d: path("M106.12 278.564q0-3.2 2.8-3.2l24.4 0q3.2 0 3.2 3.2l0 24q0 3.2-3.2 3.2l-24 0q-3.2 0-3.2-3.2l0-24m15.2 12 0 9.6c0 3.2-4.4288 4.032-6 1.2m17.2-10c-4.0464-3.3296-7.4128 1.2152-4.5536 3.9912 1.6048 1.5304 3.0328.8608 4.5536 3.2088 1.476 3.2416-2.9016 6.676-6.1336 2.4192");
}
.contSoft .container_software_penta .soft_circle-2:hover circle {
  cx: 121.32px;
  cy: 290.564px;
  r: 25px;
}
.contSoft .container_software_penta .soft_circle-2:hover ~ .penta {
  d: path("M146.3 289.839l94.444-2.742m26.186-19.598 29.857-91.796m-9.987-30.783-78.125-56.816m-32.35 0-78.123 56.816m-10.543 30.955 26.621 90.703");
}
.contSoft .container_software_penta .soft_circle-3:hover > mask > path {
  d: path("M261.0664 287.5464c3.7912 4.6048 15.4048-2.3928 11.8472-7.156-4.0296-3.8264-17.6296.9736-18.76 7.9096-.0592 2.8232 2.7928 3.5288 6.4096 7.1744 2.4696 4.0872-2.4696 8.1152-4.94 6.704-1.5144-.6056-.9632-4.9808 6.4792-7.1488 6.5008-.9176 6.8424 4.2656 4.6384 4.964m-20.6568-9.4296a.8.8 90 0035.2 0 .8.8 90 00-35.2 0z");
}
.contSoft .container_software_penta .soft_circle-3:hover circle {
  cx: 263.684px;
  cy: 290.564px;
  r: 25px;
}
.contSoft .container_software_penta .soft_circle-3:hover ~ .penta {
  d: path("M144.248 287.097l94.447 2.742m32.028-23.261 26.618-90.703m-10.541-30.955-78.125-56.816m-32.35 0-78.123 56.816m-9.989 30.783 29.857 91.796");
}
.contSoft .container_software_penta .soft_circle-4:hover > mask > path {
  d: path("M290.84 156.839q-1.697-1.697 0-3.3941l10.4652-10.4652 2.8284 2.8284c-.7218 1.2251-.5687 2.825.4713 3.9287.3841.4169.835.6675 1.5528.9849l-.017 8.6946c-4.0888 2.3872-2.553 7.6271 1.6518 7.7273 4.8236.2166 5.3073-6.6423 1.6026-7.6102l.1171-8.2946 2.4868 2.4867c-1.3854 5.3904 4.7557 6.5252 6.5597 4.2449 3.4031-3.4269-.6522-7.9835-4.2426-6.5054l-2.8285-2.8284c1.3792-3.0886-1.8922-6.4935-5.0911-5.0912l-2.8285-2.8284 2.4262-2.4262q1.7599-1.7599 3.457-.0629l15.1604 15.1604q1.7536 1.7536 0 3.5072l-15.1038 15.1038q-1.7537 1.7536-3.3942.1131z");
}
.contSoft .container_software_penta .soft_circle-4:hover circle {
  cx: 307.72px;
  cy: 155.143px;
  r: 25px;
}
.contSoft .container_software_penta .soft_circle-4:hover ~ .penta {
  d: path("M144.256 286.517l96.488 0m26.734-18.832 31.825-89.005m-12.224-37.654-78.071-53.396m-32.683.474-78.123 56.816m-9.989 30.783 29.857 91.796");
}
.contSoft .container_software_penta .soft_circle-5:hover > mask > path {
  d: path("M192.5 68.94c-1.3998.0126-2.4001 1.0129-2.4 2.4-.0001 1.4122 1.0002 2.4126 2.4 2.4 1.3996.0126 2.3999-.9878 2.4-2.4-.0001-1.3871-1.0004-2.3874-2.4-2.4zm-9.0072-13.2064c-6.9928 3.6064 9.0072 35.6064 18.2968 31.1424 7.028-6.2816-11.5536-35.4752-18.2968-31.1424m17.8072-.0016c-6.6196-4.2527-26.3325 25.6037-17.8217 31.4167 8.954 2.9456 24.9456-27.7433 17.8217-31.4167m9.2 15.288c.3732-7.8591-35.3397-10.0027-36.1185.2743 1.926 9.2272 36.4992 7.7319 36.1185-.2743");
}
.contSoft .container_software_penta .soft_circle-5:hover circle {
  cx: 192.5px;
  cy: 71.34px;
  r: 25px;
}
.contSoft .container_software_penta .soft_circle-5:hover ~ .penta {
  d: path("M144.256 286.517l96.488 0m26.186-19.018 29.857-91.796m-9.641-31.246-74.867-57.837m-39.559 0-74.866 57.837m-9.641 31.246 29.857 91.796");
}
.contSoft .container_software_penta .penta {
  d: path("M144.256 286.517l96.488 0m26.186-19.018 29.857-91.796m-9.987-30.783-78.125-56.816m-32.35 0-78.123 56.816m-9.989 30.783 29.857 91.796");
}
.contSoft .container_software_penta circle {
  r: 20px;
}

.sel_soft mask circle {
  fill: white !important;
}
.sel_soft mask path {
  stroke: black !important;
}

.footer {
  position: sticky;
  height: 16rem;
  width: 36.8rem;
  margin-left: auto;
  bottom: 0;
  right: 0;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.footer .contact_target {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  right: 0;
  top: 0.8rem;
  padding: 0 1rem;
  display: inline-block;
  color: #e8be45;
  margin-bottom: 1rem;
}
.footer .contacts {
  display: none;
  position: absolute;
  height: 87%;
  width: 100%;
  bottom: 0;
  padding-top: 1rem;
  place-items: center;
  grid-template: auto/repeat(3, auto);
  -webkit-perspective: 70rem;
          perspective: 70rem;
}
.footer .contacts .icon {
  width: 65%;
}
.footer .contacts .icon .icon_link .icon_figure {
  fill: #e8be45;
  stroke: none;
  width: 90%;
}