@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 255, 0.8), -0.5px -0.5px 0px rgba(255, 0, 0, 0.8), 0px 0px 0.5rem rgb(0, 0, 0);
  color: #d1ffff;
}

.btn {
  font-size: 1.8rem;
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
  font-weight: 400;
}

h2 {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(0, 0, 255);
}

p {
  font-size: 2rem;
}

.frame_descr {
  font-size: 2.4rem;
}

.blockR > * {
  font-size: 1.8rem;
}

.statuses_state-title {
  font-weight: 400;
  font-size: 2.8rem;
}

@-webkit-keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}

@keyframes scrollFrame {
  0% {
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    z-index: 0;
    scale: 20%;
    visibility: visible;
  }
  11% {
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    z-index: 1;
    scale: 55%;
  }
  22% {
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    z-index: 4;
    scale: 95%;
  }
  33% {
    z-index: 4;
    scale: 95%;
  }
  35.75% {
    z-index: 5;
    scale: 100%;
    visibility: visible;
  }
  35.76% {
    z-index: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@keyframes opacityFrame {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
@-webkit-keyframes inclusion {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes inclusion {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 51.5%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
            clip-path: polygon(50% 51.5%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 10.73% 58.41%);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
  }
}
@keyframes openFigure {
  0% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 51.5%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
            clip-path: polygon(50% 51.5%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
  }
  10% {
    fill: rgba(209, 255, 255, 0.6);
  }
  20% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%);
  }
  30% {
    fill: rgba(209, 255, 255, 0.6);
  }
  40% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
  }
  50% {
    fill: rgba(209, 255, 255, 0.6);
  }
  60% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%);
  }
  70% {
    fill: rgba(209, 255, 255, 0.6);
  }
  80% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 10.73% 58.41%);
  }
  90% {
    fill: rgba(209, 255, 255, 0.6);
  }
  95% {
    fill: rgba(209, 255, 255, 0.8);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
  }
  100% {
    fill: rgba(209, 255, 255, 0.6);
    -webkit-clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
            clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%);
  }
}
@-webkit-keyframes scale_1 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale_1 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale_07 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@keyframes scale_07 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@-webkit-keyframes scale_04 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
@keyframes scale_04 {
  0% {
    -webkit-transform: scale();
            transform: scale();
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
@-webkit-keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes descrHidd {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@keyframes openArticle {
  0% {
    -webkit-transform: translate(-50%, -50%) translateZ(0);
            transform: translate(-50%, -50%) translateZ(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
            transform: translate(-50%, -50%) translateZ(-1rem);
  }
}
@-webkit-keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes movingZ {
  0% {
    -webkit-transform: translateZ(-10rem);
            transform: translateZ(-10rem);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-transform: translateZ(0rem);
            transform: translateZ(0rem);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
.margin-bottom-5vh {
  margin-bottom: 5vh;
}

.margin-bottom-20rem {
  margin-bottom: 2rem;
}

.txt__orange {
  color: #e8be45;
}

.inclusion {
  -webkit-animation: inclusion 1s ease both;
          animation: inclusion 1s ease both;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-size: 62.5%;
}

body {
  background: black;
  overflow: hidden;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  -webkit-mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
          mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
  background: radial-gradient(rgba(197, 233, 247, 0.2235294118) 1px, transparent 0) -1.9rem -1.9rem/1rem 1rem;
}

@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cutive Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cutivemono/v21/m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Square;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../../assets/fonts/Square/Square721BT-BoldExtended.woff) format("woff");
}
.btn {
  position: relative;
  height: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
}
.btn::after {
  border: 1px solid #d1ffff;
  -webkit-clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
          clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
  -webkit-transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease;
  transition: clip-path 0.25s ease, transform 0.25s ease, -webkit-clip-path 0.25s ease, -webkit-transform 0.25s ease;
}
.btn:hover::after {
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
  -webkit-clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
          clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
  border: 1px solid #d1ffff;
}
.btn::before {
  background: rgba(70, 151, 180, 0.5490196078);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.btn:hover::before {
  opacity: 1;
  -webkit-transform: scale(0.85, 0.68);
          transform: scale(0.85, 0.68);
}
.btn:active::before {
  background: rgba(255, 169, 20, 0.6);
}
.btn:active::after {
  border: 1px solid #ffaf54;
}
.btn:active {
  color: #e8be45;
}

.article {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.article_title {
  position: relative;
  height: 6.4rem;
  text-align: center;
  -webkit-text-stroke: 1px #d1ffff;
}
.article_description {
  position: relative;
  top: -0.5rem;
  height: 48.8rem;
}
.article_description p {
  padding: 2rem;
  text-align: justify;
}
.article_description p br {
  margin-bottom: 1rem;
}

.slider {
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
.slider > * {
  position: absolute;
  visibility: hidden;
  will-change: transform, scale, display;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  aspect-ratio: 16/9;
  width: 83rem;
  right: 0;
  top: 50%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, -webkit-transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease;
  transition: scale 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotateY(-10deg) translateY(-50%);
          transform: rotateY(-10deg) translateY(-50%);
  -webkit-animation: scrollFrame 27s infinite ease;
          animation: scrollFrame 27s infinite ease;
}
.slider > * > * {
  -webkit-filter: drop-shadow(0 0 1rem black);
          filter: drop-shadow(0 0 1rem black);
  opacity: 0;
  -webkit-animation: opacityFrame 27s infinite ease;
          animation: opacityFrame 27s infinite ease;
}
.slider .frame_1 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_1 > * {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.slider .frame_2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_2 > * {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.slider .frame_4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_4 > * {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.slider .frame_5 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_5 > * {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.slider .frame_6 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_6 > * {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.slider .frame_7 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_7 > * {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.slider .frame_8 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_8 > * {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.slider .frame_9 {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.slider .frame_9 > * {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.slider_frame:active {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform: rotateY(0deg) translateY(-50%);
          transform: rotateY(0deg) translateY(-50%);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider:active .slider_frame:not(:active) {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slider:active .slider_frame > * {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.border {
  z-index: -1;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  fill: none;
  stroke: #d1ffff;
  stroke-width: 1px;
}
.border_title {
  height: 102%;
  width: 102%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-filter: drop-shadow(0 0 4px #d1ffff);
          filter: drop-shadow(0 0 4px #d1ffff);
}
.border_title :last-child {
  fill: rgba(70, 151, 180, 0.5490196078);
  height: 102%;
  width: 102%;
}
.border_title.bg {
  fill: rgba(70, 151, 180, 0.5490196078);
  height: 102%;
  width: 102%;
}
.border_description {
  stroke-dasharray: 2;
}
.border_description.bg {
  stroke: none;
  fill: rgba(28, 60, 72, 0.6);
}
.border_img.bg {
  fill: rgba(70, 151, 180, 0.5490196078);
  -webkit-transform: translate(-50%, -50%) translateZ(-4rem);
          transform: translate(-50%, -50%) translateZ(-4rem);
}
.border_img.bg :last-child {
  stroke: none;
  fill: rgba(28, 60, 72, 0.6);
}
.border_footer {
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.border_footer :first-child {
  fill: rgba(255, 169, 20, 0.6);
}

.bg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%) translateZ(-1rem);
          transform: translate(-50%, -50%) translateZ(-1rem);
  -webkit-filter: blur(0.12rem);
          filter: blur(0.12rem);
}

.logo {
  position: relative;
  height: 3.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.logo_img {
  height: 100%;
  width: 100%;
}
.logo_img:first-child {
  font-size: 10rem;
  stroke: white;
  stroke-width: 1.5px;
  fill: #d1ffff;
  dominant-baseline: hanging;
  text-anchor: middle;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.navigation {
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100%;
  padding: 1.5rem;
  z-index: 20;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  display: grid;
  grid-template: auto/repeat(3, 12rem);
  grid-column-gap: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  border-bottom: 1px solid #d1ffff;
}

.main {
  position: relative;
  height: 80vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  grid-template: auto/repeat(3, auto);
  grid-column-gap: 10vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5vh 5vw;
  -webkit-transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: translate 0.7s ease, -webkit-transform 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease;
  transition: transform 0.7s ease, translate 0.7s ease, -webkit-transform 0.7s ease;
}
.main > * {
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.container {
  position: relative;
  width: 90vw;
}

.container_about {
  display: grid;
  grid-template: auto/40% 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_skills {
  display: none;
}
.container_skills_status {
  display: block;
  position: absolute;
}
.container_skills_status > * {
  vector-effect: non-scaling-stroke;
}
.container_skills_status .pentagon {
  fill: none;
  stroke: #d1ffff;
  stroke-width: 1px;
}
.container_skills_status .parametrs {
  fill: rgba(209, 255, 255, 0.6);
  shape-rendering: crispEdges;
  -webkit-transition: -webkit-clip-path 0.4s ease;
  transition: -webkit-clip-path 0.4s ease;
  transition: clip-path 0.4s ease;
  transition: clip-path 0.4s ease, -webkit-clip-path 0.4s ease;
  -webkit-animation: openFigure 1s ease 1.6s backwards;
          animation: openFigure 1s ease 1.6s backwards;
}
.container_skills_status :nth-child(2) {
  -webkit-animation: scale_1 0.6s linear 1s both;
          animation: scale_1 0.6s linear 1s both;
}
.container_skills_status :nth-child(3) {
  -webkit-animation: scale_07 0.4s linear 1s both;
          animation: scale_07 0.4s linear 1s both;
}
.container_skills_status :nth-child(4) {
  -webkit-animation: scale_04 0.2s linear 1s both;
          animation: scale_04 0.2s linear 1s both;
}

.statuses {
  position: absolute;
  display: grid;
  grid-template: 22% 28% 22% 28%/50% 50%;
  height: 100%;
  width: 100%;
}
.statuses .LT:before, .statuses .LB:before, .statuses .RT:before, .statuses .RB:before, .statuses .CB:before {
  content: "";
  height: 17.3rem;
  width: 50%;
  shape-margin: 1rem;
}
.statuses .LT, .statuses .LB {
  text-align: right;
}
.statuses .LT:before, .statuses .LB:before {
  float: right;
}
.statuses .RT, .statuses .RB {
  text-align: left;
}
.statuses .RT:before, .statuses .RB:before {
  float: left;
}
.statuses .LT {
  grid-area: 2/1;
}
.statuses .LT:before {
  shape-outside: polygon(100% 100%, 100% 0%, 75% 0%, 75% 15%, 61% 100%);
}
.statuses .LB {
  grid-area: 3/1;
}
.statuses .LB:before {
  shape-outside: polygon(100% 0%, 61% 0%, 59% 12%, 100% 71%);
}
.statuses .RT {
  grid-area: 2/2;
}
.statuses .RT:before {
  shape-outside: polygon(0% 100%, 0% 0%, 25% 0%, 25% 15%, 39% 100%);
}
.statuses .RB {
  grid-area: 3/2;
}
.statuses .RB:before {
  shape-outside: polygon(0% 0%, 39% 0%, 41% 12%, 0% 71%);
}
.statuses .CB {
  grid-area: 4/1/4/span two;
  text-align: center;
  justify-self: center;
  width: 50%;
}
.statuses_state {
  position: relative;
  display: inline-block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.statuses_state #title {
  display: none;
}
.statuses_state-title {
  display: inline-block;
  cursor: pointer;
}
.statuses_state-title.one {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.statuses_state-title.two {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.statuses_state-title.three {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.statuses_state-title.four {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.statuses_state-title.five {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.statuses_state-description {
  display: none;
}

.footer {
  position: sticky;
  width: 100vw;
  height: 20vh;
  bottom: 0;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.footer_bar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 24vw;
}
.footer_bar .contact_target {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: 0 1rem;
  display: inline-block;
  color: #e8be45;
  margin-bottom: 1rem;
}
.footer_bar .contact_target .icon_eye {
  position: absolute;
  left: -1.5rem;
  top: -1rem;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.footer_bar .contact_target .icon_eye :last-child {
  fill: #e8be45;
}
.footer_bar .contacts {
  display: none;
  position: absolute;
  height: 87%;
  width: 100%;
  bottom: 0;
  padding-top: 1rem;
  place-items: center;
  grid-template: auto/repeat(3, auto);
  -webkit-perspective: 70rem;
          perspective: 70rem;
}
.footer_bar .contacts .icon {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  -webkit-animation: inclusion 1s ease backwards, movingZ 0.7s ease 1s backwards;
          animation: inclusion 1s ease backwards, movingZ 0.7s ease 1s backwards;
}
.footer_bar .contacts .icon > * {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.footer_bar .contacts .icon_link {
  display: inline-block;
  height: 55%;
  width: 55%;
  top: 35%;
}
.footer_bar .contacts .icon_link_bg {
  height: 70%;
  width: 70%;
  top: 37%;
  fill: rgba(255, 169, 20, 0.2);
  stroke: #e8be45;
}
.footer_bar .contacts .icon_descr {
  top: 81%;
}
.footer_bar .contacts .icon_descr_bg {
  height: 70%;
  width: 70%;
  top: 100%;
  fill: rgba(255, 169, 20, 0.3);
  stroke: #e8be45;
}
.footer_bar .contacts .icon a {
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
}
.footer_bar .contacts .icon a:link, .footer_bar .contacts .icon a:visited {
  text-decoration: none;
  color: #e8be45;
}
.footer_bar .contacts .icon a .icon_figure {
  fill: #e8be45;
}