* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-size: 10px;
}

body {
  background: black;
}
body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
          mask-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0.2), transparent);
  background: radial-gradient(rgba(197, 233, 247, 0.2235294118) 1px, transparent 0) -1.9rem -1.9rem/1rem 1rem;
}

.navigation {
  position: relative;
  height: 9.1vh;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 5vh;
  display: grid;
  grid-template: auto/repeat(2, auto);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #d1ffff;
}
.navigation .btn {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.navigation .btn::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  border: 1px solid #d1ffff;
  -webkit-clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
          clip-path: polygon(0.7rem 0, 0.7rem 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) 0, 100% 0, 100% 0.7rem, calc(100% - 0.7rem) 0.7rem, calc(100% - 0.7rem) calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 100% 100%, calc(100% - 0.7rem) 100%, calc(100% - 0.7rem) calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 100%, 0 100%, 0 calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem), 0.7rem 0.7rem, 0 0.7rem, 0 0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.navigation .btn:hover::after {
  height: 70%;
  width: 84%;
  -webkit-clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
          clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0);
  border: 1px solid #0cfbe9;
}
.navigation .btn::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  height: 70%;
  width: 84%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.navigation .btn:hover::before {
  background: rgba(129, 228, 245, 0.5);
}

.content {
  height: 80vh;
  overflow: hidden;
  display: grid;
  grid-template: auto/repeat(2, auto);
  grid-column-gap: 10vw;
  padding: 0 5vw;
}
.content .container {
  position: relative;
  width: 90vw;
}
.content .container.about {
  display: grid;
  grid-template: auto/40% 60%;
}
.content .container .blockL {
  height: 100%;
}
.content .container .blockL .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  border: 1px solid #0cfbe9;
  background: rgba(129, 228, 245, 0.5);
}
.content .container .blockL .description {
  border: 1px dashed #0cfbe9;
  border-top: none;
}
.content .container .blockL .description p {
  padding: 1rem;
  text-align: justify;
}
.content .container .blockR {
  position: relative;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.content .container .blockR > * {
  position: absolute;
  image-rendering: optimizeQuality;
  right: 0;
  top: 50%;
  opacity: 0;
  -webkit-transform: rotateY(-10deg) translateY(-50%);
          transform: rotateY(-10deg) translateY(-50%);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px dashed #0cfbe9;
  -webkit-animation: scrollFrame 27s infinite ease;
          animation: scrollFrame 27s infinite ease;
}
.content .container .blockR > * img {
  display: block;
  width: 100%;
  -webkit-filter: drop-shadow(0 0 10px black);
          filter: drop-shadow(0 0 10px black);
  z-index: 0;
}
.content .container .blockR > *::after {
  position: absolute;
  left: -1px;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: rgba(129, 228, 245, 0.5);
  border: 1px solid #0cfbe9;
  padding: 1px 3px;
}
.content .container .blockR .frame1::after {
  content: "Concepts & Design";
}
.content .container .blockR .frame2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.content .container .blockR .frame2::after {
  content: "Sculpting";
}
.content .container .blockR .frame3 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.content .container .blockR .frame3::after {
  content: "Retopology";
}
.content .container .blockR .frame4 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.content .container .blockR .frame4::after {
  content: "Retopology";
}
.content .container .blockR .frame5 {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}
.content .container .blockR .frame5::after {
  content: "Unwrap";
}
.content .container .blockR .frame6 {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.content .container .blockR .frame6::after {
  content: "Texturing Maps";
}
.content .container .blockR .frame7 {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}
.content .container .blockR .frame7::after {
  content: "Texturing Maps";
}
.content .container .blockR .frame8 {
  -webkit-animation-delay: 21s;
          animation-delay: 21s;
}
.content .container .blockR .frame8::after {
  content: "Texturing";
}
.content .container .blockR .frame9 {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}
.content .container .blockR .frame9::after {
  content: "Rigging & Skinning";
}

@-webkit-keyframes scrollFrame {
  0% {
    opacity: 0;
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    opacity: 1;
    z-index: 0;
    scale: 20%;
  }
  11% {
    opacity: 1;
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    opacity: 1;
    z-index: 1;
    scale: 55%;
  }
  22% {
    opacity: 1;
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    opacity: 1;
    z-index: 2;
    scale: 95%;
  }
  33% {
    opacity: 1;
    z-index: 2;
    scale: 95%;
  }
  35.75% {
    opacity: 0;
    z-index: 3;
    scale: 100%;
  }
}

@keyframes scrollFrame {
  0% {
    opacity: 0;
    z-index: -1;
    scale: 0%;
  }
  2.75% {
    opacity: 1;
    z-index: 0;
    scale: 20%;
  }
  11% {
    opacity: 1;
    z-index: 0;
    scale: 20%;
  }
  13.75% {
    opacity: 1;
    z-index: 1;
    scale: 55%;
  }
  22% {
    opacity: 1;
    z-index: 1;
    scale: 55%;
  }
  24.75% {
    opacity: 1;
    z-index: 2;
    scale: 95%;
  }
  33% {
    opacity: 1;
    z-index: 2;
    scale: 95%;
  }
  35.75% {
    opacity: 0;
    z-index: 3;
    scale: 100%;
  }
}