@mixin Cutive_mono
    font-family: "Cutive Mono", monospace
    font-weight: 400
    font-size: 1.6rem
    line-height: 1.2
    text-shadow: .4px .4px .7px rgba(0, 0, 255, .8), -.4px -.4px .7px rgba(255, 0, 0, .8)


@mixin Chakra_petch
    font-family: "Chakra Petch", sans-serif
    font-weight: 100
    font-size: 2.2rem
    text-shadow: 1px 1px .7px rgba(0, 0, 255, .8), -1px -1px .7px rgba(255, 0, 0, .8)
