$color-blue: #d1ffff
$color-orange: #ffa914

// $background-color-blue: rgba(70, 151, 180, 0.6)
$background-color-blue: rgba(70, 151, 180, 0.55)
$background-color-blue_darken: rgba(28, 60, 72, 0.6)
$background-color-orange: rgba(255, 169, 20, 0.6)

$border-light-blue: 1px solid #d1ffff
$border-light-orange: 1px solid #ffa914