$color-blue: #d1ffff
$color-orange: #ffa914
$color-blue-opacity8: #d1ffffcc
$color-blue-opacity6: #d1ffff99
$color-blue-darken-opacity4: #d1ffff66

$background-color-blue_darken: #1c3c4899
$background-color-blue: #4697b48c
$background-color-orange: #ffa91499

$border-light-blue: 1px solid #d1ffff
$border-light-orange: 1px solid #ffa914