*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    color-scheme: dark
    font-size: 10px

body
    background: black
    overflow: hidden
    &::after
        content: ''
        position: absolute
        height: 100%
        width: 100%
        left: 0
        top: 0
        z-index: -1

        mask-image: radial-gradient(rgb(0 0 0), rgb(0 0 0), rgb(0 0 0 / .2), transparent)

        background: radial-gradient(#c5e9f739 1px, transparent 0) -1.9rem -1.9rem / 1rem 1rem

.navigation
    position: relative
    height: 9.1vh
    width: 100%
    padding: 1.5rem
    margin-bottom: 5vh
    display: grid
    grid-template: auto / repeat(2, auto)
    justify-content: space-around
    border-bottom: 1px solid #d1ffff
    .btn
        position: relative
        cursor: pointer
        display: flex
        align-items: center
        padding: 0 1rem
        &::after
            content: ''
            position: absolute
            box-sizing: border-box
            translate: -50% -50%
            left: 50%
            top: 50%
            height: 100%
            width: 100%
            border: 1px solid #d1ffff
            clip-path: polygon(.7rem 0, .7rem .7rem, calc( 100% - .7rem ) .7rem, calc( 100% - .7rem ) 0, 100% 0, 100% .7rem, calc( 100% - .7rem ) .7rem, calc( 100% - .7rem ) calc( 100% - .7rem ), 100% calc( 100% - .7rem ), 100% 100%, calc( 100% - .7rem ) 100%, calc( 100% - .7rem ) calc( 100% - .7rem ), .7rem calc( 100% - .7rem ), .7rem 100%, 0 100%, 0 calc( 100% - .7rem ), .7rem calc( 100% - .7rem ), .7rem .7rem, 0 .7rem, 0 0)
            transition: all .25s
        &:hover::after
            height: 70%
            width: 84%
            clip-path: polygon(50% 0, 50% 50%, 50% 50%, 50% 0, 100% 0, 100% 50%, 50% 50%, 50% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%, 50% 50%, 0 50%, 0 0)
            border: 1px solid #0cfbe9
        &::before
            content: ''
            position: absolute
            box-sizing: border-box
            z-index: -1
            translate: -50% -50%
            left: 50%
            top: 50%
            height: 70%
            width: 84%
            transition: all .25s
        &:hover::before
            background: rgba(129, 228, 245, .5)

.content
    height: 80vh
    width: max-content
    overflow: hidden
    display: grid
    grid-template: auto / repeat(2, auto)
    grid-column-gap: 10vw
    padding: 0 5vw
    transition: all .7s ease
    animation-fill-mode: hidden
    & > *
        transition: all .7s ease
        animation-fill-mode: hidden
    .container
        position: relative
        width: 90vw
        &.about
            display: grid
            grid-template: auto / 40% 60%
        .blockL
            height: 100%
            .title
                justify-content: center
                align-items: center
                display: flex
                height: 10%
                border: 1px solid #0cfbe9
                background: rgba(129, 228, 245, .5)
            .description
                border: 1px dashed #0cfbe9
                border-top: none
                p
                    padding: 1rem
                    text-align: justify
        .blockR
            position: relative
            height: 100%
            perspective: 1000px
            & > *
                position: absolute
                image-rendering: optimizeQuality
                right: 0
                top: 50%
                opacity: 0
                transform: rotateY(-10deg) translateY(-50%)
                transform-origin: right top
                backdrop-filter: blur(2px)
                border: 1px dashed #0cfbe9
                animation: scrollFrame 27s infinite ease    
                img
                    display: block
                    width: 100%
                    filter: drop-shadow(0 0 10px black)
                    z-index: 0
                &::after
                    position: absolute
                    left: -1px
                    top: 0
                    transform: translateY(-100%)
                    background: rgba(129, 228, 245, .5)
                    border: 1px solid #0cfbe9
                    padding: 1px 3px
            .frame1
                &::after
                    content: 'Concepts & Design'
            .frame2
                animation-delay: 3s
                &::after
                    content: 'Sculpting'
            .frame3
                animation-delay: 6s
                &::after
                    content: 'Retopology'
            .frame4
                animation-delay: 9s
                &::after
                    content: 'Retopology'
            .frame5
                animation-delay: 12s
                &::after
                    content: 'Unwrap'
            .frame6
                animation-delay: 15s
                &::after
                    content: 'Texturing Maps'
            .frame7
                animation-delay: 18s
                &::after
                    content: 'Texturing Maps'
            .frame8
                animation-delay: 21s
                &::after
                    content: 'Texturing'
            .frame9
                animation-delay: 24s
                &::after
                    content: 'Rigging & Skinning'
        &.skills
            display: flex
            justify-content: center
            align-items: center
            .figure
                position: absolute
                // fill: none
                // stroke: #c5e9f7
                // stroke-width: 1px
                .pentagon
                    fill: none
                    stroke: #c5e9f7
                    stroke-width: 1px
                .parametrs
                    fill: #c5e9f7
                    opacity: 50%
                    stroke: #c5e9f7
                    stroke-width: 1px
                    clip-path: polygon(49.66% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%)
                .state
                    & > *
                        display: block


@keyframes scrollFrame
    0%
        opacity: 0
        z-index: -1
        scale: 0%
    2.75%
        opacity: 1
        z-index: 0
        scale: 20%
    11%
        opacity: 1
        z-index: 0
        scale: 20%
    13.75%
        opacity: 1
        z-index: 1
        scale: 55%
    22%
        opacity: 1
        z-index: 1
        scale: 55%
    24.75%
        opacity: 1
        z-index: 2
        scale: 95%
    33%
        opacity: 1
        z-index: 2
        scale: 95%
    35.75%
        opacity: 0
        z-index: 3
        scale: 100%