footer
    position: sticky
    height: 16rem
    width: 36.8rem
    margin-left: auto
    bottom: 0
    right: 0
    z-index: 20
    transition: transform .5s ease
    .footer__border
        fill: rgba(var(--color-dark-tangerine-rgb), .2)
        stroke: var(--color-orange)
        & :first-child
            fill: rgba(var(--color-dark-tangerine-rgb), .6)
        & :last-child
            fill: var(--color-orange)
    .footer__contact-target
        position: absolute
        z-index: 1
        cursor: pointer
        right: 0
        top: .8rem
        padding: 0 1rem
        display: inline-block
        color: var(--color-orange)
        margin-bottom: 1rem
    .footer__contacts
        display: none
        position: absolute
        height: 87%
        width: 100%
        bottom: 0
        padding-top: 1rem
        place-items: center
        grid-template: auto / repeat(3, auto)
        perspective: 70rem
        .icon
            width: 65%
            .icon_link
                .icon_figure
                    fill: var(--color-orange)
                    stroke: none
                    width: 90%
