.footer
    position: sticky
    height: 16rem
    width: 36.8rem
    margin-left: auto
    bottom: 0
    right: 0
    z-index: 20
    transition: transform .5s ease
    .contact_target
        position: absolute
        z-index: 1
        cursor: pointer
        right: 0
        top: .8rem
        padding: 0 1rem
        display: inline-block
        color: $color-orange
        margin-bottom: 1rem
    .contacts
        display: none
        position: absolute
        height: 87%
        width: 100%
        bottom: 0
        padding-top: 1rem
        place-items: center
        grid-template: auto / repeat(3, auto)
        perspective: 70rem
        .icon
            width: 65%
            .icon_link
                .icon_figure
                    fill: $color-orange
                    stroke: none
                    width: 90%
