.container_home
    position: relative
    height: 80vh
    transition: opacity 1s ease
    // grid-area: 1 / 2 / auto / 3
    // path
    //     stroke-dasharray: 5 5
    //     fill: none
    //     stroke: $color-juice-blue
    //     animation: shift 3s infinite linear
    .planet
        @include AbsoluteCenter
        stroke: none
        height: 150vh
        width: 150vw
        text
            font-family: "Square"
            // color: #ffffff57
            font-size: 1rem
            text-align: center
            text-anchor: middle
            // fill: black
            text-shadow: none
            // dominant-baseline: middle

@keyframes shift
    100%
        stroke-dashoffset: -20