.container_about
        display: grid
        grid-template: auto / 40% 60%
        justify-content: center
        align-items: center
        perspective: 100rem
        // grid-area: 1 / 1 / auto / 2

@media (max-width: 426px)
        .container_about
                grid-template: 50% 50% / auto