.container_skills
        display: flex
        justify-content: center
        align-items: center
        &_status
            position: absolute
            perspective: 100rem
            .pentagon
                fill: none
                stroke: $color-blue
                stroke-width: 1px
            .parametrs
                fill: $color-blue
                opacity: 50%
                stroke: $color-blue
                stroke-width: 1px
                // animation: openFigure 1s ease both
            .state
                // animation: openState .3s ease both
                &.one
                &.two
                    animation-delay: .3s
                &.three
                    animation-delay: .6s
                &.four
                    animation-delay: .8s
                &.five
                    animation-delay: 1s

.state:hover .parametrs
    fill: red