.main
    height: 80vh
    width: max-content
    overflow: hidden
    display: grid
    grid-template: auto / repeat(2, auto)
    grid-column-gap: 10vw
    padding: 0 5vw
    transition: all .7s ease
    // animation-fill-mode: hidden
    backface-visibility: hidden
    & > *
        transition: all .7s ease
        // animation-fill-mode: hidden
        backface-visibility: hidden

.container
    position: relative
    width: 90vw
    &.about
        display: grid
        grid-template: auto / 40% 60%
    .blockL
        height: 100%
    .blockR
        position: relative
        height: 100%
        perspective: 100rem
        & > *
            position: absolute
            image-rendering: optimizeQuality
            right: 0
            top: 50%
            opacity: 0
            transform: rotateY(-10deg) translateY(-50%)
            transform-origin: right top
            backdrop-filter: blur(.2rem)
            border: $border-dashed-light-green
            backface-visibility: hidden
            animation: scrollFrame 27s infinite ease
            & > *
                backface-visibility: hidden
            img
                display: block
                width: 100%
                filter: drop-shadow(0 0 1rem black)
                z-index: 0
            &::after
                position: absolute
                left: -1px
                top: 0
                transform: translateY(-100%)
                background: $background-color-blue
                border: $border-light-green
                padding: .1rem .3rem
        .frame1
            &::after
                content: 'Concepts & Design'
        .frame2
            animation-delay: 3s
            &::after
                content: 'Sculpting'
        .frame3
            animation-delay: 6s
            &::after
                content: 'Retopology'
        .frame4
            animation-delay: 9s
            &::after
                content: 'Retopology'
        .frame5
            animation-delay: 12s
            &::after
                content: 'Unwrap'
        .frame6
            animation-delay: 15s
            &::after
                content: 'Texturing Maps'
        .frame7
            animation-delay: 18s
            &::after
                content: 'Texturing Maps'
        .frame8
            animation-delay: 21s
            &::after
                content: 'Texturing'
        .frame9
            animation-delay: 24s
            &::after
                content: 'Rigging & Skinning'
    &.skills
        display: flex
        justify-content: center
        align-items: center
        .figure
            position: absolute
            .pentagon
                fill: none
                stroke: $color-blue
                stroke-width: 1px
            .parametrs
                fill: $color-blue
                opacity: 50%
                stroke: $color-blue
                stroke-width: 1px
                clip-path: polygon(49.66% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%)
            .state
                & > *
                    display: block

@media (max-width: 1000px)
    .container.about
        grid-template: 40% 60% / auto !important