.section-about
        display: grid
        grid-template: 100% / 40% 60%
        justify-content: center
        align-items: center
        perspective: 100rem
        &__article-border
                stroke: none
                fill: none
                text
                        fill: var(--color-light-gray-blue)
                use:first-of-type
                        filter: url(#inner-shadow-descr-type01)
                use:last-of-type
                        fill: url(#line-grad-anim-01)
                        mask: url(#mask-bg-desc-type01)
        &__article
                position: relative
                display: grid
                grid-template: 5% 9% 72% 9% / 100%
                row-gap: 1%
                transform-style: preserve-3d
                backface-visibility: hidden
                justify-content: center
                justify-self: center
                height: 94%
                width: 100%
        &__article-title
                grid-area: 2 / 1 / 3 / 2
                position: relative
                height: 100%
                width: 100%
                text-align: left
                & > *
                        vertical-align: middle
                .inline_icon
                        margin-inline: 2rem .8rem
                        filter: drop-shadow(0 0 6px #a1efffad)
                        height: 96%
                        path
                                fill: var(--color-ocean-blue)
                                stroke: none
                        text
                                fill: var(--color-white)
                                stroke: var(--color-white)
                                stroke-width: .5px
                h2
                        display: inline-block
                        height: 100%
        &__article-title-border
                fill: rgba(var(--color-light-blue-rgb), .4)
                height: 102%
                width: 102%
                top: 60%
                use
                        fill: var(--color-light-greenish-blue)
                        filter: url(#inner-shadow-title-type01)
        &__article-description
                grid-area: 3 / 1 / 4 / 2
                position: relative
                height: 100%
        &__article-description-text
                height: 100%
                width: 100%
                p
                        padding: .5rem 2.5rem
                        text-indent: 2rem
                p:last-of-type
                        text-decoration-line: overline
                        padding-top: 1rem
                        text-align: right
                ul
                        padding: .5rem 6rem
                        & > *:not(:last-child)
                                margin-bottom: .3rem
                        li
                                padding-inline: .5rem
                                color: var(--color-orange)
                                width: max-content
                                cursor: help
                        & ::marker
                                content: '>'
                                color: var(--color-white)
        &__article-resume
                position: relative
                grid-area: 4 / 1 / 5 / 2
                display: grid
                grid-template: 100% / repeat(2, auto)
                place-items: center
                height: 100%
                width: 100%
                left: 0
                perspective: 100rem
                a
                        position: relative
                        display: inline-block
                        height: 78%
                        width: 60%
                        transition: transform .2s ease, filter .2s ease
                        transform: translateZ(0)
                        text-align: center
                        span
                                display: inline-block
                                text-align: center
                        &:hover circle
                                fill: var(--color-white) !important
                        & > *
                                vertical-align: middle
                        .inline_icon
                                height: 100%
                                margin-inline: .3rem
                                circle
                                        transition: fill .3s ease
                                        fill: var(--color-light-cyan)
                                        stroke: none
                                text
                                        stroke: black
                                        stroke-width: 1px
        &__article-resume-border
                vector-effect: non-scaling-stroke
                stroke-width: 3px
                height: 116%
                width: 100%
                filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                stop
                        transition: stop-color .3s ease
                g
                        stroke: white
                        transition: opacity .2s ease
                        path
                                transition: d .2s ease
        &__slider
                position: relative
                perspective: 100rem
                animation: inclusion 1s ease .3s both
                &-border-img
                        rect
                                fill: url(#line-grad-anim-02)
                                mask: url(#mask-bg-desc-type02)
                                mix-blend-mode: screen
                        image
                                height: 90%
                                width: 90%
                                y: 7.5%
                                x: 5%
                                filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                &-border-bg
                        fill: var(--color-light-gray-blue)
                        transform: translateZ(8rem)
                        z-index: 2
                        path
                                stroke: none
                                filter: url(#led-screen) blur(.6px) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='2' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='2' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                & > div
                        position: absolute
                        visibility: hidden
                        will-change: transform, scale, display
                        transform-style: preserve-3d
                        aspect-ratio: 16 / 9
                        width: 100%
                        right: 0
                        top: 50%
                        cursor: grab
                        transition: scale .2s ease, transform .2s ease
                        transform-origin: right top
                        transform: rotateY(-10deg) translateY(-50%)
                        animation: scrollFrame 27s infinite ease
                        animation-play-state: inherit
                        & > *
                                opacity: 0
                                animation: opacityFrame 27s infinite ease
                                animation-play-state: inherit
                        p
                                position: absolute
                                left: 50%
                                top: 10%
                                filter: drop-shadow(0 0 1rem black)
                                transform: translate(-50%, -50%) translateZ(4rem)
                                text-shadow: none
                div:nth-of-type(9)
                        animation-delay: -6s
                        & > *
                                animation-delay: -6s
                div:nth-of-type(8)
                        animation-delay: -3s
                        & > *
                                animation-delay: -3s
                div:nth-of-type(7)
                div:nth-of-type(6)
                        animation-delay: 3s
                        & > *
                                animation-delay: 3s
                div:nth-of-type(5)
                        animation-delay: 6s
                        & > *
                                animation-delay: 6s
                div:nth-of-type(4)
                        animation-delay: 9s
                        & > *
                                animation-delay: 9s
                div:nth-of-type(3)
                        animation-delay: 12s
                        & > *
                                animation-delay: 12s
                div:nth-of-type(2)
                        animation-delay: 15s
                        & > *
                                animation-delay: 15s
                div:nth-of-type(1)
                        animation-delay: 18s
                        & > *
                                animation-delay: 18s


.attn-message
        position: absolute
        height: 9.5vw
        width: 17vw
        z-index: 10
        stroke: none
        fill: none
        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='.5' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='.5' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
        image
                height: 60%
                width: 60%
                x: 20%
                y: 20%
        rect
                fill: url(#line-grad-anim-03)
                mask: url(#mask-bg-desc-type03)
                vector-effect: non-scaling-stroke
                x: 20
                y: 5
        path
                vector-effect: non-scaling-stroke
                stroke: var(--color-light-cyan)
                d: path("M89.5 61.5l0-9 7-7 327 0 7 7 0 9m-341 167 0 9 7 7 327 0 7-7 0-9")