.section-abilities
    position: relative
    // grid-template: 10% 75% 15% / 48% 27%
    display: grid
    grid-template: 100% / 59% 39%
    column-gap: 2%
    align-content: center
    place-items: center
    height: 100%
    aspect-ratio: 7/4
    perspective: 100rem
    &__border
        stroke: var(--color-orange)
        & :first-child
            fill: rgba(var(--color-dark-tangerine-rgb), .15)
        & :last-child
            fill: rgba(var(--color-dark-tangerine-rgb), .6)
    &__content
        position: relative
        height: 94%
        width: 88%
        justify-self: end
        display: grid
        grid-template: 10% 90% / 100%
        place-content: center
        place-items: center
        transform: rotateY(6deg)
        &-border
            stroke: var(--color-moderate-blue)
            filter: url(#led-screen2) blur(.2px) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
            stroke-width: .5px
            path:first-of-type
                stroke-width: 1px
        &-title
            position: relative
            height: 100%
            width: 100%
            mask-image: linear-gradient(to bottom, transparent 10%, white 23%, white 77%, transparent 90%)
            overflow: hidden
            transform: rotateY(6deg)
            &-wrapper
                display: grid
                grid-template: repeat(2, calc( 100% / 2 )) / 100%
                place-content: center
                place-items: center
                height: calc( 100% * 2 )
                transition: transform .3s ease
                text-align: center
                h2
                    height: 100%
        &-section
            position: relative
            height: 99.5%
            width: 100%
            align-self: start
            overflow-y: hidden
            overflow-x: scroll
            white-space: nowrap
            scroll-snap-type: x mandatory
            scroll-behavior: smooth
            z-index: 1
            mask-image: url(#mask-hor-scroll-type01)
            transform: rotateY(6deg)
            transition: transform .3s ease, filter .5s ease, width 1s ease, opacity 1s ease
            perspective: 100rem
            perspective-origin: left center
            & > *
                position: relative
                display: inline-block
                scroll-snap-align: start
                vertical-align: middle
                width: 100%
            &::-webkit-scrollbar
                height: .8rem
            &::-webkit-scrollbar-button
                width: 6rem
            &::-webkit-scrollbar-track
                border: .2rem solid var(--color-moderate-blue)
                border-radius: 6px
                cursor: pointer
                background: none
                background-clip: content-box
            &::-webkit-scrollbar-thumb
                background: var(--color-grideperleft)
                border-radius: 6px
                cursor: pointer
            &-skills
                position: relative
                height: 100%
                width: 100%
                p
                    @include AbsoluteCenter
                    cursor: pointer
                    p:nth-of-type(1)
                    left: 37%
                    top: 24%
                    translate: -100% -100%
                p:nth-of-type(2)
                    left: 31%
                    top: 55%
                    translate: -100% 0%
                p:nth-of-type(3)
                    left: 50%
                    top: 76%
                    translate: -50% 0%
                p:nth-of-type(4)
                    left: 69%
                    top: 55%
                    translate: 0% 0%
                p:nth-of-type(5)
                    left: 63%
                    top: 24%
                    translate: 0% -100%
                svg
                    @include AbsoluteCenter
                    height: 55%
                    aspect-ratio: 1/1
                    shape-rendering: geometricprecision
                    filter: url("#led-screen3") blur(.5px) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='2' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='2' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                    // filter: url(#led-screen4)
                    // filter: url(#contrast) url(#brightness) url(#colorfill)
                    #skills-pentagon__rad-grad
                        transition: all 1s ease
                    path
                        vector-effect: non-scaling-stroke
                        stroke: var(--color-white)
                        stroke-width: 2px
                        fill: none
                        transition: d .3s ease
                    path:first-of-type
                        stroke: #8095a5
                        stroke-width: 3px
                        fill: #28323d
                    path:last-of-type
                        opacity: .3
                    text:nth-of-type(n+1):nth-of-type(-n+5)
                        cursor: pointer
                        transition: fill .3s ease
                    text
                        position: relative
                        vector-effect: non-scaling-stroke
                        border: 1px solid var(--color-white)
                        transform: scale(1.35) translate(-13%, -12%)
                        fill: var(--color-white)
                        width: 71.14%
            &-software
                height: 100%
                position: relative
                height: 100%
                width: 100%
                display: inline-grid
                grid-template: repeat(3, auto) / repeat(4, 15%)
                place-content: center
                place-items: center
                gap: 4% 3%
                perspective: 100rem
                perspective-origin: left center
    &__description
        position: relative
        justify-self: start
        height: 94%
        width: 66%
        transform: rotateY(-6deg)
        overflow: hidden
        // mask-image: linear-gradient(to left, transparent, #000 7%, #000 93%, transparent 100%)
        mask-size: 100% 80%
        mask-position: left bottom
        .description-wrapper
            position: relative
            left: 0
            display: grid
            grid-template: 100% / repeat(2, calc( 100% / 2 ))
            place-content: center
            place-items: center
            // white-space: nowrap
            height: 100%
            width: calc( 100% * 2 )
            transition: transform .3s ease
            & > *
                position: relative
                display: flex
                flex-direction: column
                place-content: center
                place-items: center
            &__skill
                align-self: center
                justify-content: center
                height: 100%
                width: 96%
                &-border
                    stroke: none
                    // filter: url(#led-screen2) blur(.2px) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                    // mask: radial-gradient(at 50% 44.8%, white 0%, transparent 100%)
                    // mask-size: 80% 50%
                    // mask-position: center
                    // mask-repeat: no-repeat
                    // fill: var(--color-light-greenish-blue)
                    mask: url(#mask-bg-desc-type04)
                    fill: url(#line-grad-anim-04)
                details
                    display: block
                    width: 100%
                    overflow: hidden
                    @media (prefers-reduced-motion: no-preference)
                        interpolate-size: allow-keywords
                    &::details-content
                        opacity: 0
                        block-size: 0
                        overflow-y: clip
                        transition: content-visibility .3s allow-discrete, opacity .3s ease, block-size .3s ease
                    &[open]::details-content
                        opacity: 1
                        block-size: auto
                    &[open] > summary::before
                        transform: rotate(90deg)
                    summary
                        cursor: pointer
                        &::marker
                            content: ''
                        &::before
                            content: '🞂'
                            display: inline-block
                            position: relative
                            vertical-align: text-top
                            text-align: center
                            height: 1em
                            width: 1em
                            transform: rotate(0)
                            transition: transform .25s ease
                    p
                        padding: .3rem 2rem
                        text-align: left
                        cursor: default
                        transition: translate 1s ease, opacity 1s ease
            &__software
                align-self: start
                width: 95.6%
                height: 50%
                min-height: 40%
                justify-content: start
                // aspect-ratio: 1 / 1.328
                & > *
                    transition: opacity .4s ease
                &-border
                    height: 100%
                    width: 100%
                    top: 50%
                    stroke: none
                    fill: rgba(100, 142, 163, .3)
                    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='.8' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
                    path
                        transition: d .3s ease
                    path:nth-of-type(n+1):nth-of-type(-n+2)
                        stroke: var(--color-light-greenish-blue)
                    path:last-of-type
                        fill: #282b3e
                    use
                        transition: opacity .2s ease
                    use:nth-of-type(n+1):nth-of-type(-n+2)
                        fill: var(--color-grideperleft)
                        filter: url(#inner-shadow-title-type02)
                    use:last-of-type
                        fill: var(--color-grideperleft)
                        filter: url(#inner-shadow-descr-type02)
                &-article
                    position: relative
                    display: grid
                    grid-template: 2.95em max-content / 100%
                    height: max-content
                    width: 100%
                    &-title
                        position: relative
                        height: 100%
                        width: 100%
                        text-align: start
                        & > *
                            display: inline-block
                            vertical-align: middle
                        .inline_icon
                            margin-inline: .8rem .6rem
                            circle
                                stroke: none
                                fill: var(--color-grideperleft)
                            path
                                scale: .7
                                transform-origin: center
                                stroke: var(--color-ocean-blue)
                            text
                                fill: var(--color-ocean-blue)
                                stroke: var(--color-ocean-blue)
                        h3
                            vertical-align: sub
                        p
                            position: absolute
                            top: 46%
                            right: 10%
                            translate: 0 -50%
                            color: var(--color-fern-crayola)
                            // -webkit-text-stroke: .2px var(--color-fern-crayola)
                    &-description
                        width: 100%
                        max-height: 18em
                        p
                            text-align: justify
                            padding: .2rem 1rem


.software__hidden
    div, use
        opacity: 0

    // &-skills
    //             position: relative
    //             height: 80%
    //             aspect-ratio: 7/5
    //             shape-rendering: geometricprecision
    //             & > *
    //                 transition: transform .5s ease, opacity .5s ease
// div
//                     position: absolute
//                     top: 49.5%
//                     left: 50%
//                     width: 67.5%
//                     aspect-ratio: 935/889
//                     transform: translate(-50%, -50%)
//                     transition: clip-path .4s ease
//                     background: radial-gradient(at 50% 44.8%, transparent 0%, var(--color-orange) 100%), conic-gradient(from .5turn at 50% 44.8%, transparent 0deg 36deg, var(--color-cinnamon) 36deg, var(--color-orange) 72deg, transparent 72deg 108deg, var(--color-cinnamon) 108deg, var(--color-orange) 144deg, transparent 144deg 180deg, var(--color-cinnamon) 180deg, var(--color-orange) 216deg, transparent 216deg 252deg, var(--color-cinnamon) 252deg, var(--color-orange) 288deg, transparent 288deg 324deg, var(--color-cinnamon) 324deg, var(--color-orange) 360deg)
//                     filter: url(#led-screen2) blur(.2px) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")
//                 path:not(mask path)
//                     vector-effect: non-scaling-stroke
//                     stroke: var(--color-white)
//                     stroke-width: 1px
//                     fill: none
//                     opacity: .3
//                     transform-origin: 50% 47%
//                     transform: scale(1.3)
//                 path:nth-of-type(n+2):nth-of-type(-n+4)
//                     opacity: .2
//                 path:nth-of-type(3)
//                     transform: scale(.9)
//                 path:nth-of-type(4)
//                     transform: scale(.5)
//                 text:nth-of-type(n+1):nth-of-type(-n+5)
//                     cursor: pointer
//                     transition: fill .3s ease
//                 text
//                     position: relative
//                     vector-effect: non-scaling-stroke
//                     border: 1px solid var(--color-white)
//                     transform: scale(1.35) translate(-13%, -12%)
//                     fill: var(--color-white)
//                     width: 71.14%