.main
    height: 80vh
    width: max-content
    display: grid
    grid-template: auto / repeat(2, auto)
    grid-column-gap: 10vw
    box-sizing: content-box
    padding: 15vh 5vw 5vh
    transition: all .7s ease
    backface-visibility: hidden
    & > *
        transition: all .7s ease
        backface-visibility: hidden

.container
    position: relative
    width: 90vw