.navigation
    position: relative
    height: 9.1vh
    width: 100%
    padding: 1.5rem
    margin-bottom: 5vh
    display: grid
    grid-template: auto / repeat(2, auto)
    justify-content: space-around
    border-bottom: $border-light-blue