nav
    position: sticky
    height: 4.6rem
    width: 100vw
    left: 0
    top: 0
    z-index: 20
    padding-top: 1rem
    svg
        position: relative
        height: 200%
        width: 100%
        fill: none
        stroke: var(--color-white)
        rect
            stroke: none
        .bgrnd
            fill: #ffffff
            // fill: gray
            filter: url("#goo") url(#inner-shadow-descr-type01)
            & *:not(&__thumb > *)
            &__thumb
                transform: translateX( calc(var(--translateX) * 1px) ) translateY( calc(var(--translateY) * 1px) )
        .cntnt
            a
                position: relative
            text:not(.cntnt__thumb > text)
                fill: var(--color-white)
                stroke: none
            foreignObject
                svg
                    @include AbsoluteCenter
                    height: 90%
                    aspect-ratio: 1/1
                    fill: none
                    stroke: var(--color-white)
                    stroke-width: 30px
            &__thumb
                cursor: pointer
                fill: var(--color-white)
                stroke: none
                transform: translateX( calc(var(--translateX) * 1px) ) translateY( calc(var(--translateY) * 1px) )