.article
    position: relative
    transform-style: preserve-3d
    backface-visibility: hidden
    justify-self: center
    height: 100%
    // width: 100%
    aspect-ratio: .9/1
    &_title
        position: relative
        height: 12%
        top: .5rem
        text-align: center
        -webkit-text-stroke: 1px $color-blue
        h2
            display: flex
            justify-content: center
            align-content: center
            align-items: flex-start
            height: 100%
    &_description
        position: relative
        height: 76%
        &-text
            height: 100%
            width: 100%
            scrollbar-width: none
            overflow-y: scroll
            p
                font-size: 1.9rem
                padding: 1rem 2rem
                text-align: justify
                hyphens: auto
        &-arrow
            position: absolute
            width: 100%
            height: 15%
            bottom: 0%
            text-align: center
            vertical-align: baseline
            background: linear-gradient(transparent, $color-juice-blue-opac-6)
            // content: "⮝"
            // content: "⮟"
    &_resume
        position: relative
        display: grid
        place-items: center
        grid-template: auto / repeat(2, auto)
        height: 12%
        width: 100%
        left: 0
        top: -.5rem
        perspective: 100rem
        &:link, &:visited
            color: $color-blue
        & > *
            position: relative
            display: inline-block
            height: 100%
            width: 100%
            transition: transform .2s ease, filter .2s ease
            will-change: transform, filter
            transform: translateZ(0)
            &:hover
                transform: translateZ(5rem)
                filter: drop-shadow(0 0 4px $color-blue)
        span
            position: absolute
            display: inline-block
            text-align: center
            width: 100%
            left: 50%
            top: 60%
            transform: translate(-50%, -50%)
            transform-origin: center




// @media (max-width: 1440px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.8rem
//     .article_resume

// @media (max-width: 1322px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.7rem
//     .article_resume

// @media (max-width: 1200px)
//     .article
//         width: 100%
//         height: unset

// @media (max-width: 1170px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.6rem
//     .article_resume

// @media (max-width: 1106px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.5rem
//     .article_resume

// @media (max-width: 1024px)
//     .article
//         // height: 90%
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.5rem
//             // padding: 1.4rem
//     .article_resume
//         span
//             font-size: 1.8rem

// @media (max-width: 1012px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.4rem
//     .article_resume

// @media (max-width: 855px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.3rem
//     .article_resume

// @media (max-width: 800px)
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.4rem
//     .article_resume

// @media (max-width: 768px)
//     .article
//             // height: 70%
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.6rem
//             // padding: .5rem 1.2rem
//     .article_resume
//         span
//             font-size: 1.8rem

// // @media (max-width: 426px)
// @media (max-width: 520px)
//     // .article
//     //         height: 100%
//     //         width: unset
//             // width: 80%
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.15rem
//             // padding: 1rem
//     .article_resume
//         span
//             font-size: 1.6rem

// @media (max-width: 376px)
//     .article
//         // width: 80%
//     .article_title
//     // .article_description
//     //     p
//     //         font-size: 1.1rem

// @media (max-width: 320px)
//     .article
//         // width: 100%

// @media (max-width: 540px)
//     .article
//         height: 100%
//         width: unset
//         aspect-ratio: 1.1/1
