.article
    position: relative
    transform-style: preserve-3d
    backface-visibility: hidden
    perspective: 100rem
    &_title
        height: 6.4rem
        text-align: center
        -webkit-text-stroke: 1px $color-blue
    &_description
        top: -.5rem
        height: 48.8rem
        p
            padding: 2rem
            text-align: justify
            br
                margin-bottom: 1rem