.border
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
    z-index: -1
    fill: none
    stroke: $color-blue
    stroke-width: 1px
    backface-visibility: hidden
    &_title
        fill: $background-color-blue
    &_description
        position: absolute
        height: 98%
        width: 98%
        left: 50%
        top: 50%
        transform-origin: center
        transform: translate(-50%, -50%)
        stroke-dasharray: 2
        fill: $background-color-blue-darken
    &_img
        position: absolute
        left: 50%
        top: 45%
        transform: translate(-50%, -50%)
        height: 120%
        width: 105%
        & :last-child
            fill: $background-color-blue

.frame_descr
    position: absolute
    font-size: 2.4rem
    top: -4.7rem