.border
    z-index: -1
    @include AbsoluteCenter
    display: block
    height: 100%
    width: 100%
    fill: none
    stroke: $color-blue
    stroke-width: 1px
    &_title
        height: 102%
        width: 102%
        filter: drop-shadow(0 0 4px $color-blue)
        fill: $background-color-blue
    &_description
        & :first-child
            fill: $background-color-blue_darken
            stroke-dasharray: 2
        & :last-child
            stroke: none
    &_resume
        height: 100%
        width: 105%
        left: 52%
        filter: drop-shadow(0 0 4px $color-blue)
        fill: $background-color-blue
        &_R
            left: 47%
    &_img
        &.bg
            fill: $background-color-blue
            transform: translateZ(-4rem)
            & :last-child
                stroke: none
                fill: $background-color-blue-darken
    &_ability
        stroke: $color-orange
        & :first-child
            fill: $color-orange-opacity1_5
        & :last-child
            fill: $background-color-orange
            filter: drop-shadow(0 0 4px $color-orange)
    &_software
        stroke: $color-orange
        &_description
            stroke: $color-orange
            fill: $color-orange-opacity1
        & :nth-child(n+1):nth-child(-n+2)
            fill: $background-color-orange
            filter: drop-shadow(0 0 4px $color-orange)
        & :last-child
            fill: $color-orange-opacity1
    &_footer
        fill: $color-orange-opacity2
        stroke: $color-orange
        & :first-child
            fill: $color-orange-opacity6
        & :last-child
            fill: $color-orange


.bg
    transform: translateZ(-1rem)
    filter: blur(.12rem)
    z-index: -1