.icon_button
    position: relative
    width: 100%
    aspect-ratio: 1 / 1
    transition: transform .2s ease, filter .2s ease
    text-decoration: none
    color: var(--color-orange)
    text-shadow: unset
    background: none
    cursor: pointer
    border: none
    font: unset
    & > *, .icon_figure
        @include AbsoluteCenter
        aspect-ratio: 1 / 1
        width: 100%
    &_bg
        fill: rgba(var(--color-orange-rgb), .2)
        stroke: var(--color-orange)
    span
        text-align: left
        left: 64%
        top: 60%

.icon_figure
    stroke: var(--color-orange)
    stroke-width: .8px
    fill: none
