.logo
    position: relative
    height: 3.6rem
    width: max-content
    cursor: pointer
    &_img
        height: 100%
        width: 100%
        &:first-child
            font-size: 10rem
            stroke: white
            stroke-width: 1.5px
            fill: $color-blue
            dominant-baseline: hanging
            text-anchor: middle