.slider
    position: relative
    perspective: 100rem
    & > *
        will-change: transform, scale, display
        image-rendering: optimizeSpeed
        transform-style: preserve-3d
        backface-visibility: hidden
        transition: all .2s ease
        perspective: 100rem
        position: absolute
        display: block
        right: 0
        top: 50%
        aspect-ratio: 16 / 9
        width: 83rem
        scale: 0%
        // opacity: 0
        transform: rotateY(-10deg) translateY(-50%)
        transform-origin: right top
        animation: scrollFrame 27s infinite ease
        cursor: grab
        // &:first-child
        //     z-index: 2
        //     scale: 95%
        //     opacity: 1
        & > *
            filter: drop-shadow(0 0 1rem black)
            backface-visibility: hidden
        img
            position: absolute
            left: 50.5%
            top: 53.5%
            width: 90%
            transform: translate(-50%, -50%)
            display: block
            aspect-ratio: 16 / 9
            z-index: 0
    .frame_1
        animation-delay: -6s
    .frame_2
        animation-delay: -3s
    .frame_3
    .frame_4
        animation-delay: 3s
    .frame_5
        animation-delay: 6s
    .frame_6
        animation-delay: 9s
    .frame_7
        animation-delay: 12s
    .frame_8
        animation-delay: 15s
    .frame_9
        animation-delay: 18s

.slider_frame:active
    animation-play-state: paused
    transform: rotateY(0deg) translateY(-50%)
    cursor: grabbing

.slider:active .slider_frame:not(:active)
    animation-play-state: paused