//Анимация перемещения изображений
@keyframes scrollFrame
    0%
        opacity: 0
        z-index: -1
        scale: 0%
        filter: blur(1rem)
    2.75%
        opacity: 1
        z-index: 0
        scale: 20%
        filter: blur(.8rem)
    11%
        opacity: 1
        z-index: 0
        scale: 20%
        filter: blur(.8rem)
    13.75%
        opacity: 1
        z-index: 1
        scale: 55%
        filter: blur(.4rem)
    22%
        opacity: 1
        z-index: 1
        scale: 55%
        filter: blur(.4rem)
    24.75%
        opacity: 1
        z-index: 2
        scale: 95%
        filter: blur()
    33%
        opacity: 1
        z-index: 2
        scale: 95%
        filter: blur()
    35.75%
        opacity: 0
        z-index: 3
        scale: 100%
    35.8%
        z-index: 0