//Анимация перемещения изображений
@keyframes scrollFrame
    0%
        z-index: -1
        scale: 0%
    2.75%
        z-index: 0
        scale: 20%
        visibility: visible
    11%
        z-index: 0
        scale: 20%
    13.75%
        z-index: 1
        scale: 55%
    22%
        z-index: 1
        scale: 55%
    24.75%
        z-index: 4
        scale: 95%
    33%
        z-index: 4
        scale: 95%
    35.75%
        z-index: 5
        scale: 100%
        visibility: visible
    35.76%
        z-index: 0
        visibility: hidden

@keyframes opacityFrame
    0%
        opacity: 1
    33%
        opacity: 1
    34%
        opacity: 0

@keyframes openState
    0%
        opacity: 0
    49%
        opacity: 0
    50%
        opacity: 1
    60%
        opacity: 0
    75%
        opacity: 1
    80%
        opacity: 0
    100%
        opacity: 1

@keyframes openFigure
    0%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 51.5%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%)
    10%
        fill: $color-blue-opacity6
    20%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 47% 41.5%, 45% 47.5%)
    30%
        fill: $color-blue-opacity6
    40%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 75.51%, 55% 47.5%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%)
    50%
        fill: $color-blue-opacity6
    60%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 45% 47.5%)
    70%
        fill: $color-blue-opacity6
    80%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 75.51%, 92.19% 58.74%, 53% 41.5%, 28.3% 12.95%, 10.73% 58.41%)
    90%
        fill: $color-blue-opacity6
    95%
        fill: $color-blue-opacity8
        clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%)
    100%
        fill: $color-blue-opacity6
        clip-path: polygon(50% 75.51%, 92.19% 58.74%, 67.11% 20.58%, 28.3% 12.95%, 10.73% 58.41%)

@keyframes scale_1
    0%
        transform: scale()
    100%
        transform: scale(1)

@keyframes scale_07
    0%
        transform: scale()
    100%
        transform: scale(.7)

@keyframes scale_04
    0%
        transform: scale()
    100%
        transform: scale(.4)

@keyframes descrHidd
    0%
        opacity: 1
    20%
        opacity: 0
    40%
        opacity: 1
    60%
        opacity: 0
    70%
        opacity: 1
    90%
        opacity: 0
        display: block
    100%
        opacity: 0
        display: none