//Анимация перемещения изображений
@keyframes scrollFrame
    0%
        z-index: -1
        scale: 0%
        filter: blur(1rem) opacity(0)
    2.75%
        z-index: 0
        scale: 20%
        filter: blur(.8rem) opacity(1)
    11%
        z-index: 0
        scale: 20%
        filter: blur(.8rem) opacity(1)
    13.75%
        z-index: 1
        scale: 55%
        filter: blur(.4rem) opacity(1)
    22%
        z-index: 1
        scale: 55%
        filter: blur(.4rem) opacity(1)
    24.75%
        z-index: 2
        scale: 95%
        filter: blur() opacity(1)
    33%
        z-index: 2
        scale: 95%
        filter: blur() opacity(1)
    35.75%
        z-index: 3
        scale: 100%
        filter: blur() opacity(0)
    35.8%
        z-index: 0