body
    @include Cutive_mono
    // @include Chakra_petch
    color: $color-blue

.btn
    font-size: 1.8rem
    filter: contrast(120%)
    font-weight: 400

h2
    font-weight: 800
    font-size: 3.2rem
    line-height: 1.6
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 1), -1px -1px 2px rgba(0, 0, 255, 1), 0px 0px 2px rgb(0, 0, 0)

p
    font-size: 2rem

.frame_descr
    font-size: 2.4rem

.blockR > *
    font-size: 1.8rem

.statuses_state-title
    font-weight: 400
    font-size: 2.8rem

span
    font-weight: 600
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7))

.resume > span
    color: $color-blue
    font-size: 2rem