body
    @include Cutive_mono
    // @include Chakra_petch
    color: var(--color-white)


h2, h3, h4, p, ul, summary
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='1' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")

// text
span, text
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='chrom_aber' color-interpoation-filters='sRGB'%3E%3CfeColorMatrix in='SourceGraphic' values='1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dx='1' result='cr'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeOffset dy='.8' result='cg'%3E%3C/feOffset%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0'%3E%3C/feColorMatrix%3E%3CfeBlend in='cr' mode='screen'%3E%3C/feBlend%3E%3CfeBlend in='cg' mode='screen'%3E%3C/feBlend%3E%3C/filter%3E%3C/svg%3E#chrom_aber")

mask:has(text) > text
    filter: none

.button-state
    span
        font-size: 2rem
        line-height: 1.2em


.inline_icon > text
    font-size: 2.4rem

.icon-button span
    font-weight: bold
    text-shadow: -.6px -.6px 0 #000, .6px -.6px 0 #000, -.6px .6px 0 #000, .6px .6px 0 #000

span
    font-weight: lighter

a:link, a:visited
    text-decoration: none
    color: var(--color-white)

.btn
    font-size: 1.8rem

h2
    font-weight: bold
    font-size: 3.2rem
    line-height: 1.6

h3
    font-size: 2.6rem

h4
    font-size: 2rem

p
    font-size: 2rem
    line-height: 1.2em

.section-about__article-border text,
.description-wrapper__software-border text
    font-family: "Michroma", serif
    font-style: normal
    font-weight: lighter

.section-about__article-border
    text:nth-of-type(1)
    text:nth-of-type(2)
        font-size: 1rem
    text:nth-of-type(3)
        font-size: 2.5rem

.section-about__article-description p
    font-size: 1.9rem
    // padding: 1rem 2rem
    text-align: justify
    hyphens: auto

.attn-message
    font-size: 2rem
    font-weight: lighter

.section-about__article-description ul
    font-size: 2rem
    & ::marker,
    li::after
        font-size: 1.6rem

.section-about__article-resume span
    color: var(--color-white)
    font-size: 2rem

.section-about__article-resume-icon-link mask text
    fill: black
    font-size: 2.6rem

.section-about__article-resume-icon-link text
    fill: var(--color-white)
    font-size: 2.4rem
    tspan
        font-size: 3.4rem

.section-about__slider
    text:nth-of-type(2)
        font-size: 1.4rem
    text:last-of-type
        font-size: 2rem
    tspan
        font-size: 2.2rem

.section-abilities__content-section-skills span
    font-weight: bold


summary
    font-weight: 600
    font-size: 2rem

.frame_descr
    font-size: 2.4rem
    @include respond(big-screen)
        font-size: 2.2rem

.container_conductor
    color: var(--color-orange)
    .title

.container_skills_status
    & :nth-child(n+7):nth-child(-n+11)
        font-size: 1.3rem
    & :nth-child(n+12):nth-child(-n+15)
        font-size: .8rem
    @include respond(big-screen)
        font-size: 1.3rem

.statuses_state-title
    font-weight: 400
    font-size: 2.8rem

.description
    font-size: 2rem
    transition: font-size 1s ease
    @include respond(big-screen)
        font-size: 2.1rem

.description-wrapper__software-article-title p
    font-weight: bold
    font-size: 1.6rem
    &::after,
    &::before
        font-size: 2rem

.description-wrapper__software-border
    text:nth-of-type(1)
        font-size: 1.6rem
    text:nth-of-type(2)
        font-size: 1rem
    text:nth-of-type(3)
        font-size: 2.5rem